.btn-nova-resposta a{
    font-size: 14px;
}
.divisor-respostas{
    width: 100%;
    height: 5px;
    background-color: black;
}
/* FORM com radio button */
.questao-radio label span{
    font-size: 15px;
    color: #656565;
    padding-left: 2px;
}
.radio-form{
    position: inherit !important;
    opacity: 1 !important;
}

#questoes-tela-1, #questoes-tela-2, #questoes-tela-3, #questoes-tela-4, #btn-enviar{
    display: none;
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {
    .btn-nova-resposta a{
        font-size: 13px;
    }
}

/* Landscape phones and down */
@media (max-width: 767px) {
    .btn-nova-resposta a{
        font-size: 12px;
    }
}
