::-webkit-input-placeholder {
    color: #949494;
}

:-moz-placeholder { /* Firefox 18- */
    color: #949494;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #949494;
}

:-ms-input-placeholder {
   color: #949494;
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea{
    color: black;
    border-bottom: 1px solid #24824e;
}
textarea.materialize-textarea{
    height: 6rem;
}
body{
    font-family: 'Fira Sans', sans-serif;
}
.cor-uffs{
    background-color: #00693e;
    color: white;
    margin: 10px;
}
.titulo-questionario a{
    color: white;
}
.titulo-questionario h2{
    text-align: right;
    padding-right: 200px;
    font-size: 48px;
    font-weight: bold;
}
.texto-introducao{
    text-align: left;
    font-size: 18px;
    margin-bottom: 40px;
}
.label-formulario{
    font-size: 28px;
    font-weight: 400;
    padding-left: 28px;
}
.input-field{
    margin-top: auto;
}
.formulario-uffs{
    margin-bottom: 40px;
}
.titulo-questao{
    font-size: 18px;
    /* padding: 2px; */
}
.btn-nova-resposta a{
    font-size: 14px;
}
.divisor-respostas{
    width: 100%;
    height: 5px;
    background-color: black;
}
.quebra-linha-form{
    display: none;
}
.form-radios-desktop{
    display: block;
}
.radio-form{
    position: inherit !important;
    opacity: 1 !important;
}
.container-radios, .container-radios-cinza{
    padding: 5px;
    border-radius: 12px;
}
.container-radios-cinza{
    background-color: #efefef;
}
.form-radios-mobile{
    display: none;
}
#btn-volta-cadastro, #btn-avanca-cadastro{
    background-color: #00693e;
}
#questoes-tela-1, #questoes-tela-2, #questoes-tela-3, #questoes-tela-4, #btn-enviar{
    display: none;
    padding: 5px;
}
.logo-desktop{
    display: block;
}
.logo-mobile{
    display: none;
}
.btn-submit{
    background-color: #094867;
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
}
.btn-submit: hover{
    background-color: #094867;
}
textarea.materialize-textarea{
    min-height: 5rem;
}
.texto-obrigado{
    font-size: 44px;
    color: #1b693e;
    font-weight: bold;
    margin-top: 80px;
}
.texto-resposta-salva{
    font-size: 28px;
}
@media (max-width: 1190px) {
    .titulo-questionario h2{
        text-align: center;
        padding-right: 0px;
    }
    .label-formulario{
        font-size: 26px;
    }
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 992px) {
    .quebra-linha-form{
        display: block;
    }
    .btn-nova-resposta a{
        font-size: 13px;
    }
    .container-radios, .container-radios-cinza{
        background-color: white;
        padding: 0px;
    }
    .form-radios-mobile{
        display: block;
    }
    .texto-introducao{
        font-size: 16px;
        margin-bottom: auto;
        padding: 15px;
        margin-top: -20px;
    }
    .form-radios-desktop{
        display: none;
    }
    .titulo-questionario h2{
        font-size: 32px;
        margin-top: 40px;
    }
}

/* Landscape phones and down */
@media (max-width: 767px) {
    .formulario-uffs{
        margin-bottom: 20px;
    }
    .btn-nova-resposta a{
        font-size: 12px;
    }
    .titulo-questao{
        font-size: 14px;
        /* padding: 0px 5px; */
    }
    h2{
        font-size: 32px;
    }
    .cor-uffs img{
        text-align: center;
    }
    .label-formulario{
        font-size: 22px;
        margin-top: 28px;
    }
    textarea.materialize-textarea{
        font-size: 13.5px;
    }
}
@media (max-width: 600px) {
    .logo-desktop{
        display: none;
    }
    .logo-mobile{
        display: block;
    }
    .label-formulario{
        font-size: 18px;
    }
    .texto-introducao{
        font-size: 14px;
    }
    .texto-obrigado{
        font-size: 29px;
        margin-top: 65px;
    }
    .texto-resposta-salva{
        font-size: 18px;
    }
}
